In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\python_udemy\venv\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\python_udemy\venv\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\python_udemy\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 2.8 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.4 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.5 MB 3.5 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.5 MB 3.1 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 2.6 MB/s eta 0:00:04
   ---------- ----------------------------- 3.1/11.5 MB 2.3 MB/s eta 0:00:04
   ------------ --------------------------- 3.7/11.5 MB 2.2 MB/s eta 0:00:04
   ------------- -------------------------- 3.9/11.5 MB 2.2 MB/s eta 0:00:04
   --------------- ------------------------ 4.5/11.5 MB 2.2 MB/s eta 0:00:04
   ----------------- ---------------------- 5.0/11.5 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.5 MB 2.2 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 2.0 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.5 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 6.0/11.5 MB 1.6 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.5 MB 1.6 MB/s eta 0:00:04
   ---------------------- ----------------- 6.6/11.5 MB 1.6 MB/s eta 0:00:04
   ----------------------- ---------------- 6.8/11.5 MB 1.5 MB/s eta 0:00:04
   ------------------------ --------------- 7.1/11.5 MB 1.5 MB/s eta 0:00:03
   ------------------------- -------------- 7.3/11.5 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 7.6/11.5 MB 1.5 MB/s eta 0:00:03
   --------------------------- ------------ 7.9/11.5 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 8.1/11.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 1.5 MB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 1.6 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [2]:
# Series is an important 1-D data structure of Pandas and it stores data in 1-D format with indexes.

In [3]:
import pandas as pd

In [9]:
# create a series from list
data = [1,2,3,4,5,6]
series = pd.Series(data)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
## Create a series from dict elements. 
data = {"a":1, "b":2, "c":3}
series_dict = pd.Series(data)
print(series_dict)
print(type(series_dict))

#as you can see the keys of dict became the index by-default whereas in the series created from list the indexes were
# numerals from 0 onwards.

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# Creating a series by specifying data and index. 
data = [10,20,30]
index = ["a1", "a2", "a3"]

pd.Series(data, index = index)

a1    10
a2    20
a3    30
dtype: int64

In [15]:
# Data Frame
# A 2-D pandas data structure which stores data in a tabular format. Just like Excel.

In [19]:
# Create a data frame from dict. 

data = {
    "Name": ["Krishna", "Raj","D","R"],
    "Age": [25,26,23,25],
    "City": ["Anchal","Anchal","Chennai","Bangalore"]
}
print(data)

data_frame = pd.DataFrame(data)
print(data_frame)
print(type(data_frame))

{'Name': ['Krishna', 'Raj', 'D', 'R'], 'Age': [25, 26, 23, 25], 'City': ['Anchal', 'Anchal', 'Chennai', 'Bangalore']}
      Name  Age       City
0  Krishna   25     Anchal
1      Raj   26     Anchal
2        D   23    Chennai
3        R   25  Bangalore
<class 'pandas.core.frame.DataFrame'>

In [21]:
import numpy as np

np.array(data_frame)

array([['Krishna', 25, 'Anchal'],
       ['Raj', 26, 'Anchal'],
       ['D', 23, 'Chennai'],
       ['R', 25, 'Bangalore']], dtype=object)

In [23]:
np.array(data_frame)

array([['Krishna', 25, 'Anchal'],
       ['Raj', 26, 'Anchal'],
       ['D', 23, 'Chennai'],
       ['R', 25, 'Bangalore']], dtype=object)

In [30]:
# Create a DF from a list of dict. 

data = [
    {"Name":"Krishna", "Age":26, "City": "Trivandrum"},
    {"Name":"Ranjith", "Age":25, "City": "Bangalore"},
    {"Name":"Kashyap", "Age":27, "City": "Stuttgart"},
    {"Name":"Deepak", "Age":24, "City": "Milan"}
    
]

print(pd.DataFrame(data))
print(type(pd.DataFrame(data)))

df1 = pd.DataFrame(data)

      Name  Age        City
0  Krishna   26  Trivandrum
1  Ranjith   25   Bangalore
2  Kashyap   27   Stuttgart
3   Deepak   24       Milan
<class 'pandas.core.frame.DataFrame'>

In [6]:
import numpy as np
import pandas as pd
pd.read_csv("Sales.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Sales.csv'

In [7]:
pwd

'c:\\Users\\lenovo\\Python_udemy\\1.Python_class'

In [8]:
pwd cd

'c:\\Users\\lenovo\\Python_udemy\\1.Python_class'

In [9]:
cd

C:\Users\lenovo

In [10]:
pwd

'C:\\Users\\lenovo'

In [14]:
import numpy as np
import pandas as pd
df = pd.read_csv("Downloads//data1//Sales.csv")
df.head(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [17]:
df["Product Category"].value_counts()

Product Category
Electronics        40
Home Appliances    40
Clothing           40
Books              40
Beauty Products    40
Sports             40
Name: count, dtype: int64

In [18]:
type(df["Product Category"])

pandas.core.series.Series

In [29]:
df.loc[1]

Transaction ID                 10002
Date                      02-01-2024
Product Category     Home Appliances
Product Name        Dyson V11 Vacuum
Units Sold                         1
Unit Price                    499.99
Total Revenue                 499.99
Region                        Europe
Payment Method                PayPal
Name: 1, dtype: object

In [25]:
type(df.loc[0])

pandas.core.series.Series

In [28]:
df.iloc[1]

Transaction ID                 10002
Date                      02-01-2024
Product Category     Home Appliances
Product Name        Dyson V11 Vacuum
Units Sold                         1
Unit Price                    499.99
Total Revenue                 499.99
Region                        Europe
Payment Method                PayPal
Name: 1, dtype: object

In [31]:
df1

      Name  Age        City
0  Krishna   26  Trivandrum
1  Ranjith   25   Bangalore
2  Kashyap   27   Stuttgart
3   Deepak   24       Milan

In [32]:
df1["Salary"] = [10000,20000,30000,40000]

In [33]:
df1

      Name  Age        City  Salary
0  Krishna   26  Trivandrum   10000
1  Ranjith   25   Bangalore   20000
2  Kashyap   27   Stuttgart   30000
3   Deepak   24       Milan   40000

In [34]:
df1["Salary"]

0    10000
1    20000
2    30000
3    40000
Name: Salary, dtype: int64

In [40]:
df1.drop('Salary')

KeyError: "['Salary'] not found in axis"

In [39]:
df1.drop("Salary", axis = 1)

      Name  Age        City
0  Krishna   26  Trivandrum
1  Ranjith   25   Bangalore
2  Kashyap   27   Stuttgart
3   Deepak   24       Milan

In [41]:
df1

      Name  Age        City  Salary
0  Krishna   26  Trivandrum   10000
1  Ranjith   25   Bangalore   20000
2  Kashyap   27   Stuttgart   30000
3   Deepak   24       Milan   40000

In [42]:
df1["Age"] = df1["Age"] + 1

In [43]:
df1

      Name  Age        City  Salary
0  Krishna   27  Trivandrum   10000
1  Ranjith   26   Bangalore   20000
2  Kashyap   28   Stuttgart   30000
3   Deepak   25       Milan   40000

In [57]:
data = [{"Name": "John", "Age": 30, "City": "Kanpur", "Salary": 45000}]
df2 = pd.DataFrame(data)

In [58]:
df1+df2

          Name   Age              City   Salary
0  KrishnaJohn  57.0  TrivandrumKanpur  55000.0
1          NaN   NaN               NaN      NaN
2          NaN   NaN               NaN      NaN
3          NaN   NaN               NaN      NaN

In [59]:
df1.concat(df2)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [60]:
df1.loc[4] = df2

ValueError: cannot set a row with mismatched columns

In [61]:
df1.loc[4] = {"Name": "John", "Age": 30, "City": "Kanpur", "Salary": 45000}

In [62]:
df1

      Name  Age        City  Salary
0  Krishna   27  Trivandrum   10000
1  Ranjith   26   Bangalore   20000
2  Kashyap   28   Stuttgart   30000
3   Deepak   25       Milan   40000
4     John   30      Kanpur   45000

In [63]:
df.describe()

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000